/*Pour aligner correctement sur bottom
mettre bottom: 1.5%;*/

/* Bubble text ---------------------------------------------------------------- */
/* CHAPITRE A1 ------------------------ */
/* Section 1 ------ */
/* Case 1 */
#A1-S1-D1-P1
{
    top: 0;
    left: 0;
}

#A1-S1-D1-P2
{
    top: 26.5%;
    right: 5%;
}

#A1-S1-D1-P3
{
    top: 28%;
    left: 0;
}
/* Case 2 */
#A1-S1-D2-P1
{
    top: 0%;
    left: 50%;
    transform: translate(-50%);
}
/* Case 3 */
#A1-S1-D3-P1
{
    top: 5%;
    left: 50%;
    transform: translate(-50%);
}
#A1-S1-D3-P2
{
    top: 46%;
    left: 67%;
}
/* Case 4 */
#A1-S2-D1-P1
{
    top: 25%;
    left: 50%;
    transform: translate(-50%);
}
#A1-S2-D1-P2
{
    bottom: 15%;
    left: 50%;
    transform: translate(-50%);
}
/* Case 5 */
#A1-S2-D2-P1
{
    top: 20%;
    right: 3%;
}
#A1-S2-D2-P2
{
    bottom: 17%;
    right: 0;
}

/* CHAPITRE A2 ------------------------ */
/*case 1*/
#A2-S1-D1-P1
{
    top: 1%;
    left: 5%;
}

#A2-S1-D1-P2
{
    bottom: 10%;
    right: 7%;
}
/*case 2*/
#A2-S1-D2-P1
{
    top: 7%;
    left: 50%;
}

#A2-S1-D2-P2
{
    bottom: 7%;
    left: 15%;
}
/*case 3*/
#A2-S1-D3-P1
{
    top: 15%;
    left: 3%;
}
/*case 4*/
#A2-S2-D1-P1
{
    top: 5%;
    left: 3%;
}
/*case 5*/
#A2-S2-D2-P1
{
    top: 5%;
    right: 2%;
}
/* CHAPITRE A3 ------------------------ */
/* Section 1 ------ */
/* Case 1 */
#A3-S1-D1-P1 {
    top: 10%;
    left: 50%;
    transform: translate(-50%);
}
#A3-S1-D1-P2 {
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
}

/* Case 2 */
#A3-S1-D2-P1 {
    top: 1.5%;
    left: 40%;
    transform: translate(-50%);
}
#A3-S1-D2-P2 {
    bottom: 6%;
    left: 60%;
    transform: translate(-50%);
}
/* Case 3 */
#A3-S1-D3-P1
{
    top: 1.5%;
    left: 1%;
}
#A3-S1-D3-P2
{
    bottom: 3%;
    right: 1%;
    padding-left: 5%;
    padding-right: 5%;
}


/* Section 2 ------ */
/* Case 1 */
#A3-S2-D1-P1 {
    top: 0;
    left: 0;
    text-align: left;
    width: 100%;
}

/* Case 2 */
#A3-S2-D2-P1 {
    top: 0;
    left: 0;
    text-align: left;
}
#A3-S2-D2-P2 {
    bottom: 1.5%;
    left: 0;
    text-align: right;
}

/* Case 3 */
#A3-S2-D3-P1 {
    top: 1.5%;
    left: 50%;
    transform: translate(-50%);
}

/* Case 4 */
#A3-S2-D4-P1 {
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
}
/* Case 5 */
#A3-S2-D5-P1 {
  bottom: 1.5%;
  left: 50%;
  transform: translate(-50%);
}
.children_speak {
    color: #ea657c;
    border: 3px solid #ea657c;
}
.thinking {
  color: #4c4c4c;
  font-style: italic;
  border: 3px solid #4c4c4c;
}
.star {
    background-color: black;
    margin-bottom: 0.3%;
}


/* Chapitre A4 ------------------------ */
/* Section 1 ------ */
/* Case 1 */
#A4-S1-D1-P1
{
    top: 0;
    left: 0;
    background-color: #FF00FF;
}

/* Section 2 ------ */
/* Case 1 */
#A4-S2-D1-P1
{
    top: 0;
    left: 0;
    background-color: #FF00FF;
}


#A4-S2-D1-P2
{
    bottom: 0;
    left: 0;
}

/* Case 2 */
#A4-S2-D2-P1
{
    top: 0;
    left: 0;
    background-color: #FF00FF;
}

/* Case 3 */
#A4-S2-D3-P1
{
    top: 0;
    left: 0;
}
#A4-S2-D3-P2
{
    bottom: 0;
    right: 0;
}

/* Section 3 ------ */
/* Case 1 */
#A4-S3-D1-P1
{
    top: 0;
    left: 0;
}
#A4-S3-D1-P2
{
    bottom: 0;
    right: 0;
}

/* Case 2 */
#A4-S3-D2-P1
{
    top: 0;
    left: 0;
}

/* Case 3 */
#A4-S3-D3-P1
{
    bottom: 0;
    right: 0;
}

/* Section 4 ------ */
/* Case 1 */
#A4-S4-D1-P1
{
    bottom: 0;
    left: 0;
    background-color: #FF00FF;
}

#A4-S4-D1-P2
{
    top: 0;
    left: 0;
    background-color: #FF00FF;
}

/* Case 2 */
#A4-S4-D2-P1
{
    bottom: 0;
    left: 0;
    background-color: #FF00FF;
}

#A4-S4-D2-P2
{
    top: 0;
    left: 0;
    background-color: #FF00FF;
}

/* Case 3 */
#A4-S4-D3-P1
{
    bottom: 0;
    left: 0;
    background-color: #FF00FF;
}

#A4-S4-D3-P2
{
    top: 0;
    left: 0;
    background-color: #FF00FF;
}

/* Case 4 */
#A4-S4-D4-P1
{
    bottom: 0;
    left: 0;
    background-color: #FF00FF;
}

#A4-S4-D4-P2
{
    top: 0;
    left: 0;
    background-color: #FF00FF;
}

/* Section 5 ------ */
/* Case 1 */
#A4-S5-D1-P1
{
    top: 0;
    left: 0;
}

/* Case 2 */
#A4-S5-D2-P1
{
    top: 0;
    left: 0;
}

/* Case 3 */
#A4-S5-D3-P1
{
    top: 0;
    left: 0;
}

/* Section 6 ------ */
/* Case 1 */
#A4-S6-D1-P1
{
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    font-style: italic;
}


@media screen and (max-width:500px)
{
    #A4-S6-D1-P1
    {
        top: 30%;
        font-size: 1rem;
    }

    #A2-S1-D2-P2
    {
        bottom: 70%;
        left: 3%;
    }
    #A2-S1-D3-P1
    {
        top: 25%;
        left: 22%;
    }
}
