/* Bubble text ---------------------------------------------------------------- */
#A1-S1-D1-P1
{
    top: 0;
    left: 0;
}

#A1-S1-D1-P2
{
    top: 0;
    right: 0;
}

#A1-S1-D1-P3
{
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

#A2-S1-D2-P1
{
    top: 0;
    left: 0;
}

#A2-S1-D2-P2
{
    top: 0;
    right: 0;
}

#A2-S1-D2-P3
{
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
/* CHAPITRE A3 ------------------------ */
/* Section 1 ------ */
/* Case 1 */
#A3-S1-D1-P1 {
    top: 0;
    left: 0;
}
#A3-S1-D1-P2 {
    bottom: 0;
    right: 0;
}

/* Case 2 */
#A3-S1-D2-P1 {
    top: 0;
    right: 0;
}
#A3-S1-D2-P2 {
    bottom: 0;
    left: 0;
}

/* Case 3 */
#A3-S1-D3-P1
{
    top: 0;
    left: 0;
}
#A3-S1-D3-P2
{
    bottom: 0;
    left: 0;
}

/* Section 2 ------ */
/* Case 1 */
#A3-S2-D1-P1 {
    top: 0;
    left: 0;
}

/* Case 2 */
#A3-S2-D2-P1 {
    top: 0;
    right: 0;
    text-align: left;
}
#A3-S2-D2-P2 {
    bottom: 0;
    left: 0;
    text-align: right;
}

/* Case 3 */
#A3-S2-D3-P1 {
    bottom: 0;
    left: 0;
}

/* Case 4 */
#A3-S2-D4-P1 {
    top: 0;
    left: 0;
}
.children_speak {
    color: #ea657c;
}
.star {
    background-color: black;
    margin-bottom: 0.3%;
}

/* Chapitre A4 ------------------------ */
/* Section 1 ------ */
/* Case 1 */
#A4-S1-D1-P1
{
    top: 0;
    left: 0;
    border: 2px solid #000000;
    border-radius: 0px;
    background-color: #FF00FF;
}

/* Section 2 ------ */
/* Case 1 */
#A4-S2-D1-P1
{
    bottom: 0;
    left: 0;
    border: 2px solid #000000;
    border-radius: 0px;
    background-color: #FFFF00;
}

/* Case 2 */
#A4-S2-D2-P1
{
    top: 0;
    left: 0;
    border: 2px solid #000000;
    border-radius: 0px;
    background-color: #FF00FF;
}

/* Case 3 */
#A4-S2-D3-P1
{
    top: 0;
    left: 0;
}
#A4-S2-D3-P2
{
    bottom: 0;
    right: 0;
}

/* Section 3 ------ */
/* Case 1 */
#A4-S3-D1-P1
{
    top: 0;
    left: 0;
}
#A4-S3-D1-P2
{
    bottom: 0;
    right: 0;
}

/* Case 2 */
#A4-S3-D2-P1
{
    top: 0;
    left: 0;
}

/* Case 3 */
#A4-S3-D3-P1
{
    bottom: 0;
    right: 0;
}

/* Section 4 ------ */
/* Case 1 */
#A4-S4-D1-P1
{
    top: 0;
    left: 0;
    border: 2px solid #000000;
    border-radius: 0px;
    background-color: #FF00FF;
}

/* Case 2 */
#A4-S4-D2-P1
{
    top: 0;
    left: 0;
    border: 2px solid #000000;
    border-radius: 0px;
    background-color: #FF00FF;
}

/* Case 3 */
#A4-S4-D3-P1
{
    top: 0;
    left: 0;
    border: 2px solid #000000;
    border-radius: 0px;
    background-color: #FF00FF;
}

/* Case 4 */
#A4-S4-D4-P1
{
    top: 0;
    left: 0;
    border: 2px solid #000000;
    border-radius: 0px;
    background-color: #FF00FF;
}

/* Section 5 ------ */
/* Case 1 */
#A4-S5-D1-P1
{
    top: 0;
    left: 0;
}

/* Case 2 */
#A4-S5-D2-P1
{
    top: 0;
    left: 0;
}

/* Case 3 */
#A4-S5-D3-P1
{
    top: 0;
    left: 0;
}

/* Section 6 ------ */
/* Case 1 */
#A4-S6-D1-P1
{
    top: 35%;
    left: 50%;
    transform: translate(-50%);
    font-style: italic;
}
