input, textarea {
    /* Reformatage bordure */
    border: 1px solid #999;
    box-sizing: border-box;
    border-radius: 2px;
    /* Largeur de la zone d'input responsive */
    width: 40%;
    /* Même police pour les zones d'input */
    /* Couleur de fond */
    background-color: #EDEDE5;
}
input:focus, textarea:focus {
    /* Afin de réhausser les zones d'input */
    border-color: black;
}
.labContact {
    /* Ajustement des labels : à droite, collé aux zones d'input */
    display: inline-block;
    width: 90px;
    text-align: right;
    /* Espacement augmenté */
    margin-top: 5px;
}
.divContact:last-of-type {
    /* Espacement augmenté */
    margin-bottom: 5px;
}
.divContactInfo {
    /* Display flex afin de mettre le label en haut, et non en bas de la textarea */
    display: flex;
}
.divContactInfo .labContact {
    /* Espacement augmenté */
    margin-right: 8px;
}
.contact {
    /* Centrage de la zone de contact */
    margin: 0 auto;
    width: 80%;
}
.masterContact {
    margin: 135px 0 95px;
    position: relative;
}
.sendMessage {
  /* Espacement augmenté */
  margin-top: 5px;
  font-size: 1em;
  font-family: atami_disp, sans-serif;
  color: white;
  padding: 7px 30px;
  margin: 10px 10px 10px 0px;
  border-radius: 10px;
  background-color: #969696;
  border-bottom: 5px solid #636363;
}
.sendMessage:hover {
  background-color: #636363;
  border-bottom: 5px solid #4F4F4F;
}
.contactObligatoire {
    /* Mise en valeur de l'astérisque */
    font-weight: bolder;
    color: red;
}
fieldset {
    /* Arrondi sur les bordures extérieurs */
    border-radius: 10px;
}
fieldset:last-of-type {
    /* Espacement augmenté */
    margin-top: 8px;
}
.iContact {
  /* Mise en forme du texte */
  font-size: 1em;
  margin: 0 5px 10px 0;
}
.intro {
    text-align: center;
}
.contact > fieldset{
    margin: 0 auto ;
    width: 70%;
}

@media screen and (max-width: 500px)
{
    .masterContact{
        margin: 90px 0 95px;
    }
}
