header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

a {
    text-decoration: none;
    width: 100%;
}

header h1 {
    height: 80px;
    margin: 0;
    background-image: url("../images/background_header_sicavousva.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
}

header #title
{
    display: flex;
    margin: 0 auto 0 auto;
    justify-content: center;
}

header #title span
{
    font-size: 150%;
    margin-left: 1.2%;
    margin-right: 1%;
    color:black;
    margin-top: 10px;
}

header ul {
    display: flex;
    padding: 0;
    margin: 0;
    font-family: atami_reg;
}

header ul li {
    flex-grow: 1;
    box-sizing: border-box;
    height: 40px;
    border: 1px solid black;
    list-style: none;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 10px;
    background-color: #FF8353;
    color: black;
    font-size: 1.2em;
}

header ul li:hover {
    background-color: #CC6942;
    transition: 0.3s;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #FF8353;
}

footer a
{
    margin: 1%;
    color:black;
    font-family: atami_reg;
}
footer a:hover {
  border-bottom: 2px solid black;
}
footer p {
    margin-top: 10px;
    text-align: center;
}
.copyright {
  font-size: 0.9em;
}

/* Media queries -------------------------------------------------------------- */
@media screen and (max-width: 500px)
{
    header h1
    {
        border: 1px solid black;
        height: 75px;
        font-size: 1.2em;
    }

    header #title
    {
        flex-direction: column;
    }

    header #title span
    {
        margin: 0;
    }

    header ul
    {
        display: none;
    }
    footer p, .copyright {
      font-size: 1em;
      line-height: 1.1em;
    }
}
