div.article-container
{
    display: none;
    box-sizing: border-box;
    width: 100%;
    padding: 135px 5% 95px 5%;
}

div.article-container:target
{
    display: block;
}

div article
{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border: 3px solid #000000;
    background-color: #FFFFFF;
}

div article h2
{
    margin: 0.5%;
    padding: 0;
    padding-left: 1%;
    font-weight: bold;
    font-size: 2.5rem;
    border: 2px solid #FF8353;
    background-color: #F0F0F0;
}

div article section
{
    display: flex;
    width: 100%;
}

div article section div.image-container
{
    position: relative;
    box-sizing: border-box;
    margin-right: 0.5%;
    margin-top: 0.25%;
}

div article section div:first-child
{
    margin-left: 0.5%;
}

div article section div img
{
    max-width: 100%;
    max-height: 1045px;
}

div article section div p
{
    position: absolute;
    box-sizing: border-box;
    margin: 0;
    padding: 2% 3% 2% 3%;
    line-height: 1;
    text-align: center;
    font-size: 1.25rem;
    white-space: nowrap;
    background-color: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 100px;
    color: #000000;
}

div article section div p.legend
{
    background-color: #FFFF00;
    border: 2px solid #000000;
    border-radius: 0;
}

div article a
{
    text-decoration: none;
}

div article a div.button
{
    display: inline-block;
    position: fixed;
    z-index: 1;
    bottom: 95px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    opacity: 0.5;
}

div article a div.button-left
{
    left: 2.5%;
    transform: translate(-50%);
}

div article a div.button-right
{
    right: 2.5%;
    transform: translate(50%);
}

div article a div.button:hover
{
    opacity: 0.9;
}

div article a div p
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    margin: 0;
    color: #FF8353;
}

div article a div.button:hover p
{
    font-weight: bold;
}

/* Media queries -------------------------------------------------------------- */
@media screen and (max-width: 500px)
{
    div.article-container
    {
        padding-top: 90px;
        padding-left: 15px;
        padding-right: 15px;
    }

    div article h2
    {
        font-size: 2rem;
    }

    div article section
    {
        flex-direction: column;
    }

    div article section div img
    {
        width: 100vw;
        height: auto;
    }

    div article section div p
    {
        font-size: 1.5rem;
    }

    div article a div.button
    {
        top: 50%;
        translate(0, -50%);
        height: 60px;
        width: 60px;
        opacity: 0.75;
    }

    div article a div.button-left
    {
        left: 0;
        transform: translate(0);
    }

    div article a div.button-right
    {
        right: 0;
        transform: translate(0);
    }
}
