/* Bubble text ---------------------------------------------------------------- */
#A1-S1-D1-P1
{
    top: 0;
    left: 0;
}

#A1-S1-D1-P2
{
    top: 0;
    right: 0;
}

#A1-S1-D1-P3
{
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

#A2-S1-D2-P1
{
    top: 0;
    left: 0;
}

#A2-S1-D2-P2
{
    top: 0;
    right: 0;
}

#A2-S1-D2-P3
{
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

#A3-S1-D3-P1
{
    top: 0;
    left: 0;
}

#A3-S1-D3-P2
{
    top: 0;
    right: 0;
}

#A3-S1-D3-P3
{
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

/* CSS ------------------------------------------------------------------------ */
body
{
    position: relative;
    margin: 0;
    background-image: url("../images/500-blanc-kaolin.png");
    background-position: center;
    background-attachment: fixed;
}

div.article-container
{
    display: none;
    box-sizing: border-box;
    width: 100%;
    padding: 155px 10% 95px 10%;
}

div.article-container:target
{
    display: block;
}

div article
{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border: 3px solid #000000;
    background-color: #FFFFFF;
}

div article h2
{
    margin: 0.5%;
    padding: 0;
    padding-left: 1%;
    font-weight: bold;
    font-size: 250%;
    border: 2px solid #FF8353;
    background-color: #F0F0F0;
}

div article section
{
    display: flex;
    width: 100%;
}

div article section div.image-container
{
    position: relative;
    box-sizing: border-box;
    margin-right: 0.5%;
    margin-top: 0.25%;
    /*opacity: 0.75;*/
}

div article section div:first-child
{
    margin-left: 0.5%;
}

div article section div img
{
    max-width: 100%;
    max-height: 1080px;
}

/*div:not(#A4) article section div img
{
    filter: grayscale(50%);
}*/

div article section div p
{
    position: absolute;
    background-image: url(../images/bulle.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 50%;
    margin: 0;
    padding: 2% 3% 2% 3%;
    line-height: 1;
    text-align: center;
    font-size: 2vw;
    color: #000000;
}

div article a
{
    text-decoration: none;
}

div article a div.button
{
    display: inline-block;
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 60px;
    height: 60px;
    margin-bottom: 85px;
    padding: 0;
    opacity: 0.5;
}
.button-right p {
  margin-right: auto;
  margin-left: auto;
}

div article a div.button-left
{
    left: 0;
    margin-left: 25px;
}

div article a div.button-right
{
    right: 0;
    margin-right: 25px;
}

div article a div.button:hover
{
    opacity: 0.7;
}

div article a div p
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 200%;
    margin: 0;
    color: black;
}

/* Media queries -------------------------------------------------------------- */
@media screen and (max-width: 500px)
{
    div.article-container
    {
        padding-top: 175px;
    }

    div article section
    {
        flex-direction: column;
    }

    div article section div img
    {
        width: 100vw;
        height: auto;
    }

    div article a div.button
    {
        opacity: 0.8;
    }

    div article section div p
    {
        font-size: 4vw;
    }
}
