.admin_name, #presentation {
    text-align: center;
}
.admin_name {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 0;
}
section {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1 {
    text-align: center;
    font-size: 2.8em;
    font-weight: normal;
    margin-bottom: 40px;
    margin-top: 30px;
}

#avatars_box {
    display: flex;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
}
.avatar {
    display: block;
    width:50%;
    border-radius: 50px;
    position: relative;
    margin: 0 auto;
}
.admins {
    width:20%;
    display: inline-block;
}
#presentation {
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
}
#presentation p {
    font-size: 1.1em;
    margin-bottom: 1px;
    margin-top: 0.3em;
}
/*#boubou {
      display: flex;
      justify-content: center;
}*/
/*.button_block {
    margin-top: 50px;
    margin-bottom: 150px;
    width: 300px;
    height: 50px;
    position: relative;
    border-radius: 10px;
    font-size: 1.3em;
    background-color: #FF8353;
    border-bottom: 5px solid #BF623E;
    display: flex;
}
.button_block:hover {
    background-color: #BF623E;
    border-bottom: 5px solid #7F4129;
}*/
#boubou {
    margin-top: 50px;
    margin-bottom: 150px;
    width: 300px;
    height: 50px;
    position: relative;
    border-radius: 10px;
    font-size: 1.3em;
    background-color: #FF8353;
    border-bottom: 5px solid #BF623E;
    justify-content: center;
    display: flex;
}
#boubou:hover {
    background-color: #BF623E;
    border-bottom: 5px solid #7F4129;
}
.button_link {
    text-decoration: none;
    margin:auto;
    color: white;
    text-shadow: 0px -2px #BF623E;
    width: 100%;
    /*text-align: center;*/
    justify-content: center;
    height: 50%;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 500px) {
    h1 {
        font-size: 1.5em;
        margin-top: 25px;
        margin-bottom: 35px;
    }
    .admins {
        width:23%;
    }
    .admin_name {
        font-size: 1em;
    }
    .avatar {
        width:80%;
    }
    #avatars_box {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #presentation p {
        font-size: 0.9em;
        margin-left: auto;
        margin-right: auto;
    }
    button {
        margin-top: 20px;
    }
