body {
    background-color: white;
    margin: 0;
    background-image: url("../images/500-blanc-kaolin.png");
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    margin: 0;
}
.admin_name, #presentation {
  text-align: center;
}
.admin_name {
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 0;
}
section {
  width: 100%;
}
h1 {
  text-align: center;
  font-size: 2.5em;
  font-weight: normal;
  margin-bottom: 50px;
  margin-top: 50px;
}

#avatars_box {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
}
.avatar {
  display: block;
  width:50%;
  border-radius: 50px;
  position: relative;
  margin: 0 auto;
}
 .admins {
   width:20%;
   display: inline-block;
 }
#presentation {
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
}
#presentation p {
  font-size: 1.1em;
  margin-bottom: 1px;
  margin-top: 0.3em;
}
.button_block {
  display: flex;
  justify-content: center;
}
button {
  margin-top: 50px;
  width: 300px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  font-size: 1.3em;
  background-color: #FF8353;
  border-bottom: 5px solid #BF623E;
}
button:hover {
  background-color: #BF623E;
  border-bottom: 5px solid #7F4129;
}
.button_link {
  text-decoration: none;
  padding: 10px;
  color: white;
  text-shadow: 0px -2px #BF623E;
}
