header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
}

a {
    text-decoration: none;
    width: 100%;
    color: #402115;
}

header h1 {
    height: 100px;
    margin: 0;
    background-image: url("../images/background_header_sicavousva.jpg");
    background-position: center;
    text-align: center;
    color: #B44D2A;
}

header #title
{
    display: flex;
    margin: 0 auto 0 auto;
    justify-content: center;
}

header #title span
{
    font-size: 200%;
    margin-left: 1%;
    margin-right: 1%;
}

header ul {
    display: flex;
    padding: 0;
    margin: 0;
}

header ul li {
    flex-grow: 1;
    box-sizing: border-box;
    height: 40px;
    border: 1px solid grey;
    border-radius: 3px;
    list-style: none;
    text-align: center;
    padding: 10px;
    background-color: pink;
}

header ul li:hover {
    background-color: #99D3F7;
    transition: 0.3s;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    background-color: #FF8353;
}

footer a
{
    margin: 1%;
}

footer p {
    margin-top: 10px;
    text-align: center;
}

/* Media queries -------------------------------------------------------------- */
@media screen and (max-width: 500px)
{
    header h1
    {
        border: 1px solid black;
        border-radius: 5px;
        height: 160px;
    }

    header #title
    {
        flex-direction: column;
    }

    header #title span
    {
        margin: 0;
    }

    header ul
    {
        display: none;
    }
    footer p, .copyright {
      font-size: 0.9em;
    }
}
