body
{
    margin: 0;
}

div.article-container
{
    display: none;
    width: 100%;
    padding-top: 20%;
}

div.article-container:target
{
    display: block;
}

div article
{
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid black;
    padding-bottom: 10%;
    background-color: #FFFFFF;
}

div article section
{
    display: flex;
    width: 100%;
}

div article section div
{
    box-sizing: border-box;
    position: relative;
    margin-right: 0.5%;
    margin-top: 0.25%;
    opacity: 0.75;
}

/*
div#A4 article section div
{
    opacity: 1;
}
*/

div article section div:first-child
{
    margin-left: 0.5%;
}

div article section div img
{
    max-width: 100%;
    max-height: 1080px;
}

div article section div p
{
    position: absolute;
    background: url("images/bulle.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-sizing: border-box;
    max-width: 50%;
    margin: 0;
    padding: 0 1% 2vh 1%;
    line-height: 1;
    font-size: 200%;
    color: #000000;
}

div article a
{
    text-decoration: none;
}

div article a div.button
{
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 10%;
    height: 10%;
    border: 1px solid #000000;
    border-radius: 50%;
    margin: 1%;
    padding: 0;
    background-color: #0000FF;
    opacity: 0.25
}

div article a div.button-left
{
    left: 0;
}

div article a div.button-right
{
    right: 0;
}

div article a div.button:hover
{
    opacity: 1;
}

div article a div p
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 500%;
    margin: 0;
    color: #FF0000;
}
