body
{
    margin: 0;
}

article
{
    display: none;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid black;
    padding-bottom: 10%;
    background-color: #FFFFFF;
}

article:target
{
    display: block;
}

article section
{
    display: flex;
    width: 100%;
}

article section div
{
    box-sizing: border-box;
    position: relative;
    margin-right: 0.5%;
    margin-top: 0.25%;
    opacity: 0.75;
}

article section div:first-child
{
    margin-left: 0.5%;
}

article section div img
{
    max-width: 100%;
    max-height: 1080px;
}

article section div p
{
    position: absolute;
    margin: 0;
    font-size: 200%;
    background-color: #000000;
    color: #FFFFFF;
}

article a
{
    text-decoration: none;
}

article a div.button
{
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 10%;
    height: 10%;
    border: 1px solid #000000;
    border-radius: 50%;
    margin: 1%;
    padding: 0;
    background-color: #0000FF;
    opacity: 0.25
}

article a div.button:hover
{
    opacity: 1;
}

article a div.button-left
{
    left: 0;
}

article a div.button-right
{
    right: 0;
}

article a div p
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 500%;
    margin: 0;
    color: #FF0000;
}
