body {
    margin: 0;
    background-image: url("500-blanc-kaolin.png");
    background-position: center;
    background-attachment: fixed;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    height: 50%;
}

a {
    text-decoration: none;
    color: #B44D2A;
}

h1 {
    text-align: center;
    font-family: "Alpha Sausage";
    font-size: 7vw;
    background-image: url("cat.png");
    background-position: center;
    margin: 0;
    padding: 20px;
    color: #B44D2A;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
}

ul a {
    flex: 1;
    border: 1px solid grey;
    border-radius: 3px;
    list-style: none;
    text-align: center;
    padding: 10px;
    background-color: pink;
    font-family: "Kitten";
}

ul a:hover {
    background-color: #99D3F7;
    transition: 0.3s;
}

p.copyright {
    margin-top: 10px;
    text-align: center;
}

footer {
    background-color: pink;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 10%;
}

@font-face {
    src: url("Alpha Sausage.ttf");
    font-family: "Alpha Sausage";
}

@font-face {
    src: url("AustieBostKittenKlub.ttf");
    font-family: "Kitten";
}

@media screen and (max-width: 800px) {
    h1 {
        border: 1px solid black;
        border-radius: 5px;
        font-size: 3em;
    }
    header ul {
        display: none;
    }
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}
