@font-face {
  font-family: 'atami_reg';
  src: url('../romanphoto/fonts/Atami-Regular.otf');
}
@font-face {
  font-family: 'kano';
  src: url('../romanphoto/fonts/Kano.otf');
}
body {
    font-family: kano, sans-serif;
    background-color: white;
    width: 100%;
    margin: 0;
}
.admin_name, #presentation {
  text-align: center;
}
.admin_name {
  font-size: 1.3em;
  margin-top: 20px;
  margin-bottom: 0;
}
section {
  width: 100%;
}
h1 {
  text-align: center;
  font-size: 2em;
  font-weight:normal;
  margin-bottom:50px;
  font-family: atami_reg;
}

#avatars_box {
  display: flex;
  justify-content: center;
  width: 75%;
  margin: 0 auto;
}
.avatar {
  display: block;
  width:50%;
  border-radius: 50px;
  position: relative;
  margin: 0 auto;
}
 .article {
   width:15%;
   display: inline-block;
 }
#presentation {
  margin-top: 30px;
  margin-left: 60px;
  margin-right: 60px;
}
.button_block {
  display: flex;
  justify-content: center;
}
button {
  margin-top: 50px;
  width: 300px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  font-size: 1.3em;
  font-family: atami_reg;
  background-color: #FF8353;
  border-bottom: 5px solid #BF623E;
}
button:hover {
  background-color: #BF623E;
  border-bottom: 5px solid #7F4129;
}
.button_link {
  text-decoration: none;
  padding: 10px;
  color: white;
  text-shadow: 0px -2px #BF623E;
}
